#contenedor {
    display: flex;
    
    justify-content: center;
    align-items: center;
}


table td {
    padding: 15px 50px 0px 50px;
}

#paginacion {
    align-items: center;
    text-align: center;
}